[Unit]
Description=autopac
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
StandardOutput=journal+console
RemainAfterExit=true
Restart=on-failure
RestartSec=60s
ExecStart=autopac update
ExecStop=autopac upgrade
TimeoutStopSec=900

[Install]
WantedBy=multi-user.target
